.card {
  min-height: 600px;

}

.card img {
  padding: 10px;
  min-height: 250px;
  max-height: 400px;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.posted-on {
  text-align: right;
  margin-bottom: 0.5rem;
}


