.card {
  min-height: 600px;
}

.card img {
  padding: 10px;
  min-height: 250px;
  max-height: 400px;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

.posted-on {
  text-align: right;
  margin-bottom: 0.5rem;
}

.fa-phone {
  color: green;
}

.contact-details * {
  font-size: 2rem;
}

.contact-details span {
  font-weight: 600;
  padding: 1rem;
}

.address-details div {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 576px) {
  .address-details div {
    font-size: 1rem;
  }

  .contact-row span{
    font-size: 1.5rem;
  }
}

app-property-detail {
  width: 5rem;
}
