<div class="posted-on">
  <span *ngIf="postedSince">Posted {{postedSince}} ago</span>
</div>
<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.image" class="card-img-top" src="assets/images/{{property.image}}.png">
        <img *ngIf="!property.image && !primaryPhotoUrl" class="card-img-top" src="assets/images/houseClipart.png">
        <img *ngIf="!property.image && primaryPhotoUrl" class="card-img-top" [src]="primaryPhotoUrl">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.name}}</h1>
        <div>
          <strong>{{property.bhk}} BHK {{property.propertyType}} @ €{{property.price | number:'':'en'}}<strong *ngIf="property.sellOrRent==2"> per month</strong></strong>
        </div>
        <div>
          <strong>{{property.city}}</strong>
        </div> <hr>
        <div>
          <strong>Build Area: </strong>
          {{property.builtArea}} Sqft
        </div>
        <div *ngIf="property.carpetArea">
          <strong>Carpet Area: </strong>
          {{property.carpetArea}} Sqft
        </div>
        <div>
          <strong>Furnished: </strong>
          {{property.furnishingType}}
        </div>
        <div>
          <strong>Ready To Move: </strong>
          <span *ngIf="!property.readyToMove">No</span><span *ngIf="property.readyToMove">Yes</span>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <tabset class="member-tabset">
      <tab heading="Overview">
        <h1 class="card-title">Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.floorNo}}</p>
                  </div>

                  <div class="heading">
                    <strong>Total Floors</strong>
                    <p>{{property.totalFloors}}</p>
                  </div>

                  <div class="heading">
                      <strong>Available on</strong>
                      <p>{{property?.estPossessionOn | date: 'longDate'}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.mainEntrance}}</p>
                  </div>

                  <div *ngIf="!property.gated === null" class="heading">
                      <strong>Gated Community</strong>
                      <p><span *ngIf="property.gated === false">No</span><span *ngIf="property.gated">Yes</span></p>
                  </div>

                  <div *ngIf="property.security" class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.security | number:'':'en'}}€ per month</p>
                  </div>
                  <div *ngIf="property.maintenance" class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.maintenance | number:'':'en'}}€ per month</p>
                  </div>
                  <div class="heading">
                    <strong>Age of Property</strong>
                    <p><span *ngIf="property.age">{{property.age}} years old</span></p>
                </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{property.description}}</p>
                  </div>
              </div>
            </div>
      </tab>
      <tab heading="Address">
        <div class="col-sm-12">
          <h1 class="card-title">Address</h1>
          <div class="address-details">
            <div>
              <strong>Address</strong>
              <span>{{property.address}}</span>
            </div>
            <div *ngIf="property.address2">
              <strong>Landmark</strong>
              <span>{{property.address2}}</span>
            </div>
            <div>
              <strong>City</strong>
              <span>{{property.city}}</span>
            </div>
          </div>
      </div>
      </tab>
      <tab heading="Photos">
        <ngx-gallery *ngIf="refreshGalleryFlag" #myGallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
      </tab>
      <tab heading="Contact">
        <h1 class="card-title">Contact</h1>
        <div class="contact-details">
          <div *ngIf="posterMobile" class="contact-row">
            <i class="fa-solid fa-phone"></i>
            <span class="mobile">{{posterMobile}}</span>
          </div>
          <div *ngIf="posterEmail" class="contact-row">
            <i class="fa-regular fa-envelope"></i>
            <span class="email">{{posterEmail}}</span>
          </div>
        </div>


      </tab>
    </tabset>
  </div>
</div>
