<div class="profile-wrapper shadow-lg">
  <div class="profile">
    <div class="avatar-container">
      <img src="/assets/images/avatar-default.png" class="profile-picture">
    </div>
    <span class="username">{{user?.username}}</span>
    <div class="user-details">
      <form [formGroup]="profileForm">
        <div class="user-details-wrapper">
          <strong>Email</strong>
          <div class="details-wrapper">
            <input class="input-field" formControlName="email" [readOnly]="!canEditEmail" #emailInput (keyup.Enter)="updateUserEmail()" (blur)="onEmailInputBlur()">
            <i class="fa-regular fa-pen-to-square edit-icon" title="edit email" (click)="toggleEditEmail()"></i>
          </div>
          <span *ngIf="Email.hasError('email')" class="error-block error-msg">
            Invalid email address.
          </span>
        </div>
        <div class="user-details-wrapper">
          <strong>Mobile number</strong>
          <div class="details-wrapper">
            <input class="input-field" formControlName="mobile" [readOnly]="!canEditMobile" #mobileInput (keyup.Enter)="updateUserMobile()" (blur)="onMobileInputBlur()">
            <i class="fa-regular fa-pen-to-square edit-icon" title="edit mobile number" (click)="toggleEditMobile()"></i>
          </div>
          <span *ngIf="Mobile.hasError('invalidMobile')" class="error-block error-msg">
            Invalid mobile number.
          </span>
        </div>
    </form>
    </div>
  </div>

  <div class="properties">
    <div class="card-header">
      <span class="header">My Properties</span>
    </div>
    <p style="padding: 5px;" *ngIf="user?.properties.length == 0">You have not listed any properties yet.</p>
    <div class="user-properties">
      <div *ngFor="let prop of user?.properties | paginate: { itemsPerPage: pageSize, currentPage: currentPage }" class="property">
        <app-property-card-small [property]="prop"></app-property-card-small>
      </div>
    </div>
    <div div *ngIf="user?.properties.length > 0" class="pagination">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>

<div [@notificationState]="processingRequest ? 'visible' : 'hidden'"  class="processing">
  <div class="spinner"></div>
  <span>Processing your request...</span>
</div>

