<div class="profile-wrapper shadow-lg">
  <div class="profile">
    <div class="avatar-container">
      <img src="/assets/images/avatar-default.png" class="profile-picture">
    </div>
    <span class="username">{{user?.username}}</span>
    <div class="user-details">
      <form [formGroup]="profileForm">
        <div class="user-details-wrapper">
          <strong>Email</strong>
          <div class="details-wrapper">
            <input class="input-field" formControlName="email" [readOnly]="!canEditEmail" #emailInput (keyup.Enter)="updateUserEmail()" (blur)="onEmailInputBlur()">
            <i class="fa-regular fa-pen-to-square edit-icon" title="edit email" (click)="toggleEditEmail()"></i>
          </div>
          <span *ngIf="Email.hasError('email')" class="error-block error-msg">
            Invalid email address.
          </span>
        </div>
        <div class="user-details-wrapper">
          <strong>Mobile number</strong>
          <div class="details-wrapper">
            <input class="input-field" formControlName="mobile" [readOnly]="!canEditMobile" #mobileInput (keyup.Enter)="updateUserMobile()" (blur)="onMobileInputBlur()">
            <i class="fa-regular fa-pen-to-square edit-icon" title="edit mobile number" (click)="toggleEditMobile()"></i>
          </div>
          <span *ngIf="Mobile.hasError('invalidMobile')" class="error-block error-msg">
            Invalid mobile number.
          </span>
        </div>
    </form>
    </div>
  </div>

  <div class="properties">
    <div class="card-header">
      <span class="header">My Properties</span>
    </div>
    <div class="user-properties">
      <div *ngFor="let prop of user?.properties | paginate: { itemsPerPage: pageSize, currentPage: currentPage }" class="property">
        <div class="property-photo-wrapper">
          <img *ngIf="!prop.photo" src="/assets/images/houseClipart.png">
          <img class="property-photo" *ngIf="prop.photo" [src]="prop.photo">
          <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
              <button class="btn btn-primary" routerLink="/property-detail/{{prop.id}}" title="Property Details"><i class="white fa-solid fa-magnifying-glass"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-warning" routerLink="/edit-property/{{prop.id}}" title="Edit Property"><i class="fa-regular fa-pen-to-square"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-danger" (click)="confirmDelete(prop)" title="Delete Property"><i class="white fa-solid fa-trash-can"></i></button>
            </li>
          </ul>
        </div>
        <div class="property-body">
          <h4 style="color: #0069d9; font-weight: 700;"> {{prop.bhk}} BHK {{prop.propertyType}}</h4>
          <div class="location-wrapper">
            <span>in {{prop.name}} , {{prop.city}}</span>
          </div>


          <div class="price-section">
            <hr class="mt-0 mb-2">

            <span *ngIf="prop.sellOrRent==1">Price: </span>
            <span *ngIf="prop.sellOrRent==2">Rent: </span>
            <span class="highlight-font">{{prop.price | number:'':'en'}} EUR.</span>
          </div>

        </div>

      </div>
    </div>
    <div div *ngIf="user?.properties.length > 0" class="pagination">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>

<div [@notificationState]="processingRequest ? 'visible' : 'hidden'"  class="processing">
  <div class="spinner"></div>
  <span>Processing your request...</span>
</div>
