.container {
  padding: 0;
}

.mat-sidenav-container {
  height: 100vh;
  background-color: transparent !important;;
  position: relative;
}

mat-sidenav-content {
  height: 100vh;
}

mat-sidenav {
  font-family: "poppins", sans-serif;
  color: white;
  min-width: 22rem;
  background-color: white;
}


@media (max-width: 350px) {
  mat-sidenav {
    min-width: 0;
    width: 100vw;
  }

  mat-sidenav * {
    font-size: 0.8rem;
  }
}
