.main-container {
  display: flex;
}

.preview-container {
  width: 50%;
  max-width: 25rem;
}

.form-container {
  width: 50%;
}

.headerx {
  background-color: var(--main-dark-blue);
  padding: 0.3rem 0;
  align-items: center;
  display: flex;
  color: white;
  text-indent: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.submit-photo-control {
  min-height: 300px;
  text-align: center;
  vertical-align: middle;
  border: 1px dashed blue;
  margin: 5px;
  position:relative;
}


.photo-upload-button {
  margin: 2rem auto;
  border: 2px solid var(--main-dark-blue);
  border-radius: 5px;
  width: 5rem;
  cursor: pointer;
}

.photo-upload-button label {
  cursor: pointer;
  width: 100%;
}

.photo-belt {
  position:absolute;
  bottom: 0.5rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.photo-belt-item:first-child img{
  border: 2px solid var(--main-dark-blue);
  box-shadow: 0 0 10px rgba(0, 116, 228, 0.5);
  transition: box-shadow 0.3s ease;
}


.photo-belt-item {
  margin: auto 0;
  position: relative;
}

.photo-belt-item img{
  max-width: 10rem;
  max-height: 5.625em;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.remove-button {
  position: absolute;
  top: 3px;
  right: 18px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
  transition: 0.2s ease;
}

.remove-button:hover {
  background-color: #e6e5e8;
}

.photo-belt-item img:hover{
  opacity: 0.8;
}

.possession {
  width: 50%;
}

@media (max-width: 1400px) {
  .remove-button {
    right: 3px;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .form-container, .possession {
    width: 100%;
  }

  .preview-container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }

  .preview {
    max-width: 2rem !important;
  }
}

@media (max-width: 400px) {
  .photo-belt {
    grid-template-columns: 1fr 1fr;
  }

  .form-container *, .preview-container * {
    font-size: 0.7rem;
  }

  .remove-button {
    font-size: 19px !important;
  }

  .photo-upload-button {
    margin: 0.5rem auto;
  }

  .submit-photo-control {
    height: 25rem;
  }

  .btn-group {
    width: 100% !important;
  }
}

@media (max-width: 290px) {
  .photo-belt {
    grid-template-columns: 1fr;
  }

  .remove-button {
    right: 6px;
  }

  .photo-belt-item img {
    max-height: 6rem;
    height: 100%;
  }

  .submit-photo-control {
    height: 41.5rem;
  }

  .btn {
    padding: 0 !important;
  }
}

.city-select {
  max-height: 100px !important; /* Set the desired maximum height */
  overflow-y: auto; /* Add a vertical scrollbar if needed */
}
