<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="/"><span class="navbar-brand" *ngIf="!screenWidthLessThan200px">Housing App</span></a>
    <button *ngIf="loggedIn() && screenWidthLessThan992px" class="sidenav-toggler" (click)="toggleSidenav()">
      <i class="white fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLinkActive="active" routerLink="/">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/documentation">Documentation</a>
        </li>
      </ul>
      <div>
        <ul class="nav navbar-nav">
          <div *ngIf="loggedIn()" class="dropdown" style="margin-right: 50px;" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
                Welcome {{loggedinUser}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
                <a href="#"class="dropdown-item">
                  <i class="fa-solid fa-house"></i> View Properties</a>
                <a routerLink="/user/my-profile" class="dropdown-item">
                  <i class="far fa-user-circle"></i> My Profile</a>
                <a routerLink="/user/change-password" class="dropdown-item">
                  <i class="fas fa-key"></i> Change Password</a>
                <a (click)='onLogout()' class="dropdown-item pointer">
                  <i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </div>
        </ul>
      </div>

    </div>
      <ul *ngIf="!loggedIn() " class="account-nav">
        <li *ngIf="!loggedIn()" class="nav-item">
          <a routerLink="/user/login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item" >
          <a routerLink="/user/register" routerLinkActive="active" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
</nav>
