.active {
  color: #747ff7 !important;
}

.white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.dropdown-toggle {
  text-decoration: none;
  transition: 0.3s ease;
}

.dropdown-toggle:hover {
  color: #eaeaea !important;
}

.sidenav-toggler {
  background-color: #212529;
  font-size: 1.5rem;
  border: none;
}

.account-nav {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.account-nav li {
  padding: 0 0.5rem;
}

.nav-item a {
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .account-nav li {
    padding: 0 0.2rem;
  }
}

@media (max-width: 330px) {
  .navbar-brand {
    font-size: 0.8rem;
  }

  .account-nav li {
    font-size: 0.7rem;
  }
}
