<!-- <mat-dialog-content>
  <i class='bx bx-x close-btn' (click)="onCancel()"></i>
  <div class="header"><h2>Confirm Action</h2></div>
  <p>{{ displayMessage }}</p>
  <div class="button-wrapper">
    <button (click)="onCancel()" class="cancel-button">Back</button>
    <button (click)="onDelete()" class="delete-button">{{ confirmButtonName }}</button>
  </div>
</mat-dialog-content> -->


<mat-dialog-content>
  <div class="dialog-header">
    <span>Confirm</span>
  </div>
  <i class='bx bx-x close-btn' (click)="onCancel()"></i>
  <div class="dialog-body">
    <p>{{displayMessage}}</p>

    <div  class="image-preview">
      <img [src]="imageUrl" alt="image">
    </div>
  </div>

  <div class="button-wrapper">
    <button (click)="onCancel()" class="cancel-button">Back</button>
    <button (click)="onDelete()" class="delete-button">{{ confirmButtonName }}</button>
  </div>
</mat-dialog-content>
