<div class="filter-sort-container">

  <div class="filter-container">
    <div class="overlapping-label">Filtering</div>
    <label>City: &nbsp;</label>

    <input [(ngModel)]='city' (keyup.enter)="onSearchClick()" class="filter-input">
    <button (click)="onSearchClick()" type="button" class="white-button">Search</button>
    <button (click)="onClearClick()" type="button" class="white-button">Clear</button> &nbsp;
  </div>

  <div class="sort-container">
    <div class="overlapping-label">Sorting</div>
    <label>Sort by &nbsp;</label>
    <select [(ngModel)]="sortByParam" class="sort-select">
      <option value="city">City</option>
      <option value="price">Price</option>
    </select>

    <button type="button" class="white-button" (click)="toggleSortDirection()">
      <i *ngIf="sortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
      <i *ngIf="sortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
    </button>
  </div>
</div>

<div class="property-container" [@fadeInOut]>
  <div *ngFor="let property of properties|filter:searchCityFilter:'city'|sort: [sortByParam, sortDirection] |
  paginate: { itemsPerPage: pageSize, currentPage: currentPage }" class="property">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>

<div class="pagination">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>



