.property-wrapper {
  margin-bottom: 3rem;
}

.filter-sort-container {
  display: flex;
  height: 5rem;
}

.filter-container, .sort-container {
  width: 50%;
  border: 1px solid #282826;
  padding-left: 1rem;
  padding-top: 2rem;
  position: relative;
}

.filter-container {
  border-right: none;
}

.overlapping-label {
  position: absolute;
  top: -0.91rem;
  left: 1rem;
  background-color: white;
  padding: 0.2rem 0.4rem;
}

.white-button {
  background: white;
  border: 1px solid #282826;
  transition: 0.3s ease;
}

.white-button:hover {
  background-color: #f9f9f7;
}

.property-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 1rem;
}

.filter-input {
  max-width: 50%;
}


.pagination-wrapper {
  width: 100%;
  height: 3rem;
  position: relative;
  margin-top: 1rem;
}


.skeleton-card {
  height: 425px;
  border-radius: 6px;
}

.skeleton-image {
  height: 270px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

@media (max-width: 578px) {

  .property-container {
    grid-template-columns: 1fr !important;
  }

  .filter-container .white-button:last-child {
    display: none;
  }

}

@media (max-width: 768px) {
  .property-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .filter-sort-container {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .filter-container, .sort-container {
    width: 100%;
    padding: 1.7rem 0.5rem;

  }
  .filter-container {
    border-right: 1px solid black;
    border-bottom: none;
  }

}

.shimmer {
  background: linear-gradient(90deg, #c0c0c0 25%, #e0e0e0 50%, #c0c0c0 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
