.card-container {
  max-width: 35rem;
  margin: 0 auto;
}

.header {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}


@media (max-width: 330px) {
  * {
    font-size: 0.7rem;
  }

  .header {
    font-size: 1rem;
  }
}
